@{
    ViewData["Title"] = "Indiana Jones Blog - Edit Experience";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IndianaJonesBlog.Models.Experience

<form asp-controller="Experiences" asp-action="Edit" method="post">
    <div class="form-group">
        <label>Experience</label>

        <input asp-for="Title" class="form-control" placeholder="Title" />
        <br />
        <textarea class="form-control" asp-for="Description" placeholder="Description"></textarea>

        <label>Where did this experience take place?</label>

        <select asp-for="LocationId" id="locationList" class="form-control">
            @foreach (var loc in ViewBag.ListOfLocations)
            {
                @if (loc.LocationId == Model.LocationId)
                {
                    <option selected value=@loc.LocationId>@loc.Region, @loc.Country</option>
                }
                else
                {
                    <option value=@loc.LocationId>@loc.Region, @loc.Country</option>
                }
            }
        </select>
        <label>People that were part of this experience</label> 
        <select name="peopleIds" class="form-control" asp-for="ExperiencesPersons" multiple>
            
            @foreach (var exp in Model.ExperiencesPersons)
            {
                <option asp-for="exp.Person" selected>@exp.Person.FirstName @exp.Person.LastName</option>
            }

            @foreach (var person in ViewBag.ListOfPeople)
            {
                @if (!ViewBag.SelectedPeople.Contains(person))
                {
                    <option>@person.FirstName @person.LastName</option>
                }

            }
        </select>
        @*<input type="hidden" asp-for="ExperiencesPersons" />*@
        <input type="hidden" asp-for="ExperienceId" />
    </div>
    <input type="submit" value="Update" class="btn btn-default" />
</form>

<a asp-controller="Experiences" asp-action="Index">Back to Experiences</a>